.chat-cont {
  background: #fff;
  height: 600px;
  width: 400px;
  border-radius: 1em;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.chat-body {
  padding: 0 10px;
  height: 550px;
  overflow-y: scroll;
  color: #000;
  display: flex;
  flex-direction: column;
}
.chat-body::-webkit-scrollbar {
  display: none;
}
.chat-footer {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  bottom: 0;
  height: 50px;
}

.messagem-container{
max-width: 250px;
width: fit-content;
background: lightgray;
margin-top: 16px;
padding: 0.4em 1em ;
border-radius: 7px;
align-self: start;

}
.messagem-mine{
  align-self: flex-end;
  background: skyblue;
  
}
